.panini-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.panini-main{
  border: 1px solid black;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 1%;
}
.panini-card{
  width: 32%;
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
.panini-img{
  width: 65px;
  border-radius: 10px;
  height: 65px;
  cursor: pointer;
}
.panini-txt-div{
  /* background-color: coral; */
  width: 70%;
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* font-size: 13px; */
}
.PC-small-font{
  font-size: 13px;
}
.PC-Heading{
  color: black;
  font-size: 18px;
  font-weight: bolder;
}