.orders-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.header-right-section {
  flex: 1;
}

.header-right-section .select-box {
  width: 200px;
  margin-right: 20px;
}

.select-box {
  position: absolute !important;
  right: 220px;
}

.select-box .MuiInputLabel-root {
  color: #ffffff;
}

.select-box .MuiOutlinedInput-root {
  background-color: #000;
}

.select-box .MuiOutlinedInput-root .MuiSelect-iconOutlined {
  color: #ffffff;
}

.tabs .input {
  width: 200px;
  border-radius: 20%;
  position: absolute;
  right: 0;
}

.header-right-section .input .MuiOutlinedInput-root {
  height: 36px;
}

.MuiBox-root {
  padding: 0 !important;
}

.orders-container .MuiTab-textColorPrimary {
  padding-bottom: 20px;
}

.orders-container .MuiTypography-root div:nth-child(1) {
  margin-top: 0;
}

.orders-container .MuiTypography-root div:nth-child(1) div:nth-child(1) {
  padding: 0;
}

.orders-container .MuiTablePagination-select {
  padding-right: 24px !important;
}

.MuiTabs-indicator {
  background-color: #000 !important;
}

.Mui-selected {
  color: #000 !important;
  font-weight: bold !important;
}

.MuiDialogContent-dividers {
  padding: 0 !important;
}

.orders-search-input {
  position: unset !important;
  right: auto !important;
}