.back-drop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #192133;
  opacity: 0.75;
}

.image-container, img {
  height: 100%;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-root {
    height: 100% !important;
}

.carousel-slider {
    height: 100% !important;
}

.slider-wrapper {
  height: 100% !important;
}

.animated {
  height: 100% !important;
}

.dot {
  padding: 0em 0.5em;
  border-radius: 2em !important;
  height: 6px !important;
}

.dot.selected {
  width: 30px !important;
  background-color: #1BC47D !important;
}

.text {
  transition: all .5s ease-in-out;
  position: absolute;
  color: #fff;
  width: 60%;
}

.text p {
  text-align: center;
  width: 100%;
}

.logo-text {
  position: absolute;
  color: #fff;
  align-self: flex-start;
  top: 10%;
}

.logo-text img {
  width: 100px;
  height: 100px;
}