.main {
  margin-top: -9px;
  display: flex;
}

.main input {
  width: 90%;
  padding: 2%;
  border-color: transparent;
  box-shadow: -5px 2px 6px 1px rgb(0 0 0 / 20%);
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

/* The switch - the box around the sliderrr */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The sliderrr */
.sliderrr {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sliderrr:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .sliderrr {
  background-color: #2196f3;
}

input:focus + .sliderrr {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .sliderrr:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliderrrs */
.sliderrr.round {
  border-radius: 34px;
}

.sliderrr.round:before {
  border-radius: 50%;
}
