.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: #ffffff;
}

.section1 {
  display: flex;
  justify-content: space-between;
}

.section2 {
  display: flex;
  padding-top: 60px;
}

.select-box {
  width: 200px;
  /* background-color: #ffffff !important; */
}

.section3 {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.section3-inputs {
  display: flex;
  align-items: center;
}

.section3-inputs .input{
  margin-left: 22px;
}

.MuiTableCell-body {
  border-bottom: none !important;
}

.MuiTableRow-root:nth-of-type(even) {
  background-color: rgba(25, 33, 51, 0.04);
}

.MuiTableCell-head {
  border-top: 1px solid rgba(224, 224, 224, 1);
  font-weight: 400 !important;
  background-color: #ffffff !important;
}