.social-button-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-width: 460px;
}

h3 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin-right: 20px !important;
}

.facebook-button {
  margin: 0px 20px !important;
}

.btn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.buttons-list img {
  margin-right: 6px;
}