.dailog-container {
  display: flex;
}

.dailog-left-container {
  width: 50%;
  padding-left: 40px;
  border-right: 1px solid rgba(66, 82, 110, 0.21);
}

.dailog-left-container .sectionA {
  display: flex;
  align-items: center;
}

.sectionA p {
  margin-bottom: 0;
}

.sectionB {
  padding: 20px 0px 40px 0px;
}

.create-menu-sectionB-item {
   width: 321px;
}

.create-menu-sectionB-item .create-menu-modal-image-uploading {
  width: 100%;
  height: 112px;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-menu-modal-input {
  width: 100% !important;
}

.create-menu-modal-image-uploading img {
  width: 45px;
  height: 45px;
}

.create-menu-modal-input-sectionB {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create-menu-modal-input-sectionB-inner-section {
  width: 45% !important;
}

.create-menu-modal-input-label {
  font-size: 14px;
  font-weight: bold;
}

.create-menu-right-section {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-menu-right-first-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.create-menu-right-first-inner-section1 {
  width: 65%;
}

.create-menu-right-first-inner-section2 {
  width: 25%;
}

.create-menu-right-first-inner-section3 {
  width: 100%;
}

.create-menu-right-first-inner-section3-button {
  margin-top: 25px;
  border: none;
  height: 45px;
  background: rgba(21, 192, 112, 0.1);
  border-radius: 10px;
  width: 100%;
  color: #15C070;
}

.create-menu-right-second-section {
  display: flex;
  justify-content: flex-end;
}

.sectionB-item {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.sectionB-item p {
  margin: 0;
  padding-left: 20px;
}

.sectionB-item h5 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.sectionC {
  display: flex;
}

.sectionC-cancle-image {
  margin: 0px 20px !important;
}

.fab-icons {
  width: 16px;
  height: 16px;
}

.dailog-select-box {
  width: 160px !important;
}

.dailog-select-box .MuiInputLabel-root {
  color: #ffffff !important;
}

.dailog-select-box .MuiOutlinedInput-root {
  background-color: #000 !important;
}

.dailog-select-box .MuiOutlinedInput-root .MuiSelect-iconOutlined {
  color: #ffffff !important;
}

.dailog-select-box .MuiOutlinedInput-root .Mui-focused {
  color: #ffffff !important;
}

.dailog-right-container {
  width: 50%;
  padding-left: 40px;
}

.food-item {
  display: flex;
  margin: 20px 0px;
}

.food-item img{
  width: 80px;
  height: 80px;
}

.food-item-details {
  padding-left: 20px;
}

.food-item-details p {
  margin: 0;
}

.food-item-price {
  color: #1BC47D;
}

.food-item-name {
  font-size: 20px;
  font-weight: 800;
  padding: 6px 0px;
  display: flex;
}

.food-item-quantity {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #1BC47D;
  color: #ffffff;
  margin-left: 16px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.food-item-details p {
  margin: 0;
}